---
import Layout from '../layouts/Layout.astro'
import Card from '../components/Card.astro'
---

<Layout title="Welcome to Astro.">
  <main class="m-auto p-6 max-w-prose">
    <h1 class="text-5xl font-extrabold m-0">
      Welcome to <span
        class="bg-gradient-to-tr from-primary-600 to-secondary-400 bg-clip-text text-transparent"
        >Astro</span
      >
    </h1>
    <p
      class="p-4 rounded-md leading-normal bg-white my-4 border border-solid border-primary-600/25"
    >
      To get started, open the directory <code
        class="py-1 px-2 rounded text-sm font-bold text-primary-600 bg-primary-600/[.12]"
        >src/pages</code
      > in your project.<br />
      <strong class="text-primary-600">Code Challenge:</strong> Tweak the "Welcome to Astro" message
      above.
    </p>
    <ul role="list" class="grid gap-4 p-0 grid-cols-cards">
      <Card
        href="https://docs.astro.build/"
        title="Documentation"
        body="Learn how Astro works and explore the official API docs."
      />
      <Card
        href="https://astro.build/integrations/"
        title="Integrations"
        body="Supercharge your project with new frameworks and libraries."
      />
      <Card
        href="https://astro.build/themes/"
        title="Themes"
        body="Explore a galaxy of community-built starter themes."
      />
      <Card
        href="https://astro.build/chat/"
        title="Community"
        body="Come say hi to our amazing Discord community. ❤️"
      />
    </ul>
  </main>
</Layout>
