---
export interface Props {
  title: string
  body: string
  href: string
}

const { href, title, body } = Astro.props
---

<li class="link-card group list-none flex p-0.5 rounded-lg shadow-md bg-white">
  <a
    href={href}
    class="w-full no-underline rounded-md leading-normal py-4 px-5 bg-white opacity-80"
  >
    <h2
      class="m-0 text-xl transition-colors duration-700 group-hover:text-primary-600 group-focus:text-primary-600"
    >
      {title}
      <span>&rarr;</span>
    </h2>
    <p class="mt-2 mb-0 text-gray-600">
      {body}
    </p>
  </a>
</li>
<style>
  .link-card {
    background-image: linear-gradient(45deg, rgb(124, 58, 237), #da62c4 30%, white 60%);
    background-size: 400%;
    background-position: 100%;
    transition: background-position 0.7s cubic-bezier(0.22, 1, 0.36, 1);
  }
  .link-card:is(:hover, :focus-within) {
    background-position: 0;
  }
</style>
